include ../Progress/Progress

mixin Hero(data)
    +b.Hero()&attributes(attributes)
        .container.d-flex.jc-sp-between
            .left-container
                +e.H1.title Говори о том, что есть
                +e.P.text Если я вас правильно понимаю, вы мне сейчас пытаетесь предложить взятку? Простите, вы что — пытаетесь за мной ухаживать? Похоже, между нами возникла легкая конфронтация и соотношение двое против троих, причем как раз третий не тверд в своей позиции?
                +e.progress-bar
                    +Progress()
                +e.P.text Люди, которые произносят такие слова, резко поворачивают течение разговора в другую сторону, иногда поражая и известную неловкость.
                +e.BUTTON.open-modal купить в 1 клик

            .right-container
                +e.P.text Умение сказать, что происходит на самом деле в этот момент и между этими людьми, сказать неотвратимо и обезоруживающе — сильный ход.
                +e.H3.subtitle Надо уметь это делать.
                +e.P.text Но этого не достаточно. Надо уметь задавать такие вопросы не только другим, но и самому себе. Но и этого не достаточно. Надо в любой момент времени пребывать в таком состоянии, что не один вопрос такого рода не может быть уместен, поскольку не откроет ничего нового. Это и есть прямота. Прямота проникает через многослойную оболочку другого человека, не нанося ему вреда, а делая его чище, честнее, откровеннее и великодушнее.
                +e.SPAN.span -
                +e.A.link(href="https://klondike-studio.ru/wiki/front-end/")  Frontend-разработка
                +e.IMG.image(src="%=static=%img/content/original.jpg")

