extends ../layouts/default

include ../components/Hero/Hero
include ../components/popup/popup

block vars
    -pageSettings.title = 'Тестовое задание';

block content
        +Hero()
        +popup()
